/*when a user has done a task and they are done, this will be the style that is applied to the task*/
.done {
    text-decoration: line-through;
    color: gray;
}


body {
    font-family: impact;
    padding: 20px;
}

input, button {
    font-size: 18px;
    padding: 20px;
}

li {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 4px;
}

h1 {
    text-align: center;
}

input {
    margin-left: 560px;
}